Backend/bounties/migrations/
Backend/bounties/__pycache__/
Backend/bounties/tests/__pycache__/
Backend/bountyboard/__pycache__/
Backend/bountyboard/migrations/
Backend/bountyboard/tests/__pycache__/
Backend/user/__pycache__/
Backend/user/migrations/
Backend/user/tests/__pycache__/
Bounty_smart_contracts/__pycache__/
Bounty_smart_contracts/migrations/
Bounty_smart_contracts/projects/Bounty_smart_contracts/tests
Bounty_smart_contracts/projects/Bounty_smart_contracts/__pycache__/
Bounty_smart_contracts/projects/Bounty_smart_contracts/migrations/
Bounty_smart_contracts/tests/__pycache__/
Bounty_smart_contracts/tests/migrations/
Bounty_smart_contracts/tests/test_data/
Bounty_smart_contracts/tests/test_data/__pycache__/
Bounty_smart_contracts/tests/test_data/fixtures/
Bounty_smart_contracts/tests/test_data/fixtures/__pycache__/
Bounty_smart_contracts/tests/test_data/fixtures/bounties/
Bounty_smart_contracts/tests/test_data/fixtures/bounties/__pycache__/
Bounty_smart_contract/projects/Bounty_smart_contract/tests/
Bounty_smart_contract/projects/Bounty_smart_contract/.algokit/generators/
Bounty_smart_contract/.algokit
Bounty_smart_contract/.github
